{% extends 'layout.html' %}

{% block title %} Опросник {% endblock %}

{% block body %}

<h1 class="display-3">Добро пожаловать</h1>
<p class="bg-success p-3 text-white rounded">Здесь Вы можете пройти тест Айзенка-Русалова, направленный на выявление обычного способа поведения.<br>
    Постарайтесь представить типичные ситуации и дать первый "естественный" ответ, который придёт в голову.</p>

<form action="" method="post">
    <table class="table table-striped">
        <tbody>
            {% for quest in questions %}
                <tr>
                    <td>
                        <text class="bg-danger text-white rounded-circle mr-1" style="padding: .1rem .25rem;">{{quest[:2]}}</text>
                        {{quest[3:]}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 6rem;">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="quest0{{ quest[:2] }}" name="quest{{ quest[:2] }}" class="custom-control-input" value="1" required>
                      <label class="custom-control-label" for="quest0{{ quest[:2] }}">Да</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="quest1{{ quest[:2] }}" name="quest{{ quest[:2] }}" class="custom-control-input" value="0">
                      <label class="custom-control-label" for="quest1{{ quest[:2] }}">Нет</label>
                    </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn  btn-lg btn-primary" value="Результаты">
    </div>
</form>

{% endblock %}